nav
  >ul
    >li {
      display: inline;
    }

body {
  background-color:rgba(253, 153, 60, 0.877);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(56, 6, 27);
}

img {
  float: left;
  width: 300px;
  margin-right: 20px;
  border-radius: 8px;
}